  
<div class="content">
    <div class="page-header">
      <h1>
          Digital Promise Gists
      </h1>
    </div>
  <div class="card">
      <div class="alert alert-info">
          <strong>Users Gists</strong>
      </div>
      <div class = "collapse">          
      <div *ngFor="let gist of gistData" id="data" >   
        <ng-gist userName="digital-promise-test" gistId="{{gist.id}}"></ng-gist>
      </div>
    </div>
      <div *ngFor="let private of privateGist">
        <ng-gist userName="digital-promise-test" gistId="{{private.id}}"></ng-gist>
      </div>
      <div class="alert alert-info">
        <strong>Select to View Public or Private Gists</strong>
      </div>
      <div class="alert alert-success">
          <button class="btn btn-primary" (click)="getPublic()">Public Gists!</button>
          <span class="glyphicon glyphicon-eye-open"></span>    
        </div>
       
        <p></p>
      
      <div class="alert alert-danger">
          <button class="btn btn-primary"  (click)="getPrivate()">Private Gists!</button> 
          <span class="glyphicon glyphicon-eye-close"></span> 
        </div>      
     
  </div>
</div>

<div class="footer">
  {{footer}}
</div>




